@inherits LayoutComponentBase

<PageTitle>Bookings</PageTitle>

<header class="pb-3">
	<NavMenu />
</header>
<div class="container">
	<Alert />
	<CustomErrorBoundry>
		@Body
	</CustomErrorBoundry>
</div>